body{
    display: grid;
    grid-template-rows: 10% 10% 10% 70%;
}
#map { height: 100vh;
}
#coords{
    display: grid;
    grid-row-start: 1 ;
    position:absolute,fixed,left;
    position: top;
    z-index:auto;
}
form{
    display: grid;
    grid-row-start:2 ;
    margin:5px;
}
#recherche,#resultatRech{
    width: 45%;
}
#bouton{
    margin-left: 10px;
}
 
#pokemonlist li 
{
    list-style-image: url('/monProjet/images/pinpoint.png');
    image-rendering: 20px;
    font-size:16px;
}

#pokemons img{
    width : 85px;
    height : 85px;
}

#text{
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
}

#container{
    text-align: center;
    width: 200px;
    height: 100px;
    overflow: scroll;
}
 
