body{
    display: grid;
    grid-template-rows: 10% 10% 10% 70%;
}
#map { height: 100vh;
}
 
#pokemonlist li 
{
    list-style-image: url('/monProjet/images/pinpoint.png');
    image-rendering: 20px;
    font-size:16px;
}

#pokemons img{
    width : 100px;
    height : 100px;
}

#text{
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
}

#container{
    text-align: center;
    width: 300px;
    height: 150px;
    overflow: scroll;
}
 
